@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/700.css";


* { box-sizing: border-box; }
html, body, #root { height: 0; margin: 0; padding: 0; font-family: "Poppins", sans-serif; }

.MuiContainer-root,
.MuiBox-root {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}